@import url('https://fonts.googleapis.com/css?family=Delius|Patrick+Hand+SC');




body 
{
    background: rgb(189, 67, 38);
    font-family: 'Patrick Hand SC', sans-serif;
    color: #fff;
    margin: 0 auto;
    padding: 0 5%;
}

h1 
{
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin: auto;
}

.container 
{
    width: 100%;
    text-align: center;
}

.facts-zone p 
{
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.get-facts
{
    display: inline-block;
}
.get-facts img 
{
    width: 12em;
    cursor: pointer;
}

#facts
{
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Delius',sans-serif,'Century Gothic';
    font-weight: bold;
    line-height: 2;
}

hr.divider 
{
  border-top: 1px solid #f7e8e89c;
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: #FCD462;
  overflow: visible;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 70%;
}

hr.divider:after {
  content: "❤";
  display: inline-block;
  font-size: 2em;
  position: relative;
  padding: 0 0.25em;
  top: -0.7em;
  background-color: rgb(189, 67, 38);
}

footer 
{
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    width: 100%;
    min-height: 50px;
}

footer p
{
    margin: 2% 0;
    letter-spacing: 2px;
}
#copyright
{
    letter-spacing: 4px;
}
footer a.social 
{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    letter-spacing: 4px;
}

footer a.social:hover 
{
    color: #000000b5;
}
.goodbye
{
    text-transform: lowercase;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) 
{
    h1 
    {
        font-size: 30px;
    }
    .get-facts img
    {
        width: 30%;
    }
    #facts 
    {
        font-size: 20px;
    }
    footer p, footer a.social
    {
        font-size: 20px!important;
    }
}
